@{
    ViewBag.Title = "Index";
}

<div class="row content-top">
        <div class="col-md-5">
            <img src="/images/logo.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-7 content_left_text">
            <h3>Events Party Project</h3>
            <h5>website for those who are tired of sitting at home</h5>
        </div>
    </div>
</div>