#searchMenu {
    min-width:250px;
    width: 20vw;
    padding: 10px;
    margin-left: 10px;
    background-color: #72D0F4;
    margin-top: 10px;
    border-radius: 10px;
}

.foundEvents {
    width:75vw;
}

.foundEvents, #searchMenu {    
    display: inline-table;
    vertical-align:top;
}

#searchText, #country, #region, #city, #filteredSearch, #startTime, #endTime {
    width: 100%;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

#types > div, #categories > div, #charit, #entr {
    margin-left: 2vw;
}

#filteredSearch {
    color: white;
    background-color: #4DE04D;
}

    #filteredSearch:hover {
        background-color: red;
    }
    
#searchMenu div {
    margin-top:10px;
}

label {
    font-weight:normal;
}

.extendIcon {
    width:10px;
}

.upper {
    text-transform:uppercase;
}

.extend {
    cursor:pointer;
}

.extend:hover {
    text-decoration: underline;
}
