<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="WorkCookieName" 
             loginUrl="~/Pages/LoginPage.aspx" 
             timeout="1440" 
             protection="All"  
             path="/" >
      </forms>
    </authentication>
  <machineKey  
validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" 
      decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" 
validation="SHA1"
decryption="AES"
/>
   </system.web>

  <connectionStrings>
    <add name="defaultConn" providerName="System.Data.SqlClient" connectionString="Data Source=3VPC;Initial Catalog=EventsPartyDatabase;User ID=sa;Password=12345;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="defaultConn2" providerName="System.Data.SqlClient" connectionString="Data Source=10.7.1.10;Initial Catalog=EventsPartyDatabase;User ID=sa;Password=123456;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="defaultConn3" providerName="System.Data.SqlClient" connectionString="Data Source=OLEXANDR007-PC\SQLEXPRESS;initial catalog=EventsPartyDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add name="defaultConn4" providerName="System.Data.SqlClient" connectionString="Data Source=129-01\SQLEXPRESS;initial catalog=EventsPartyDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
</configuration>