.col-md-4:hover .shortDesc {
    height:107px;
}

.shortDesc {
    position: absolute;
    bottom: 0;
   -webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;  
  overflow: hidden;
    height: 2px;
}



.accordion:hover  .accordion-content{ 
      height: 300px;
}

.accordion-content{
  -webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;  
  overflow: hidden;
  height: 0;
}